<table>
    <thead>
        <tr>
            <td>FirstName</td>
            <td>LastName</td>
            <td>Age</td>
            <td>Sex</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor ="let employee of Employees">
            <td>{{employee.firstName | uppercase | employeeTitle: employee.sex}}</td>
            <td>{{employee.lastName}}</td>
            <td>{{employee.age | currency:'USD':true:'1.3-3'}}</td>
            <td>{{employee.sex}}</td>            
        </tr>
    </tbody>
</table>
<br />
<br />  
<button (click)="getEmployees()">Reresh</button>





